.parent {
  margin: auto;
  width: 500px;
  height: 500px;
  border: 3px solid black;
  position: relative;
}

.child {
  position: absolute;
  top: 40px;
  left: 30px;
  margin: 20px;
  border: 1px solid black;
  /* sizes */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

nav {
  width: 100%;
  font-size: 20px; /* font size - add*/
  background-color: chocolate; /* color changed*/ 
  color: wheat; /* color changed*/
  position: fixed;
  top: 0;
  z-index: 2;
}

ul > li {
  list-style-type: none;
}
nav > ul {
  display: flex;
  padding: 10px;
  gap: 15px;
  justify-content: end;
}

section {
  margin-top: 200px;
}

section > div {
  border: 1px solid grey;
  padding: 10px;
}
p {
  padding: 10px;
  text-align: justify;
}

.title {
  background-color: purple ;
  color: aqua;
  padding: 10px;
  border: 1px solid black;
  font-size: 24px;
  font-weight: bold;
  position: sticky;
  top: 80px;
  z-index: 3;
}

/* mobile screen
@media screen and (min-width: 370px) and (max-width: 426px) { */
  /* background color for navbar */
  /* nav, {
    background-color: green;
    color: white;
  }
  /* flex behaviors change*/
  /* nav > ul {
    flex-direction: column;
    }
} 

/* @media screen and (min-width: 426px) and (max-width: 768px){
  nav, {
    background-color: black;
    color: white;
  }
} */
/* 
@media screen and (min-width: 370px) and (max-width: 426px){
  .title {
    background-color: aqua;
    color: black;
  }
} */
/* 
@media screen and (min-width: 426px) and (max-width: 768px){
  .title {
    background-color: blueviolet;
    color: white;
  }
}  */